<footer>
    <p>&copy; 2023 Tenant Management Platform</p>
</footer>
<script>
document.addEventListener('DOMContentLoaded', function() {
    lucide.createIcons();
});
function gotoHome(){
    window.location.href = '/'
}
</script>